# Node / Next
node_modules/
.next/

# Python
venv/
__pycache__/
*.pyc
*.pyo

# Environment files
*.env

# Generated backend assets
backend/app/assets/cme/
backend/assets/flare/magnetogram/latest.png
backend/assets/flare/magnetogram/latest_hmi.fits